.*
*.pyc
*.ipynb
*.pdf
*.png
*.csv
dataset
dissection
zoo
dissection_test
**temp*
probes/
zoo_fcn/
test/
!/dataset/README.md
!/dissection/README.md
!/zoo/README.md
!/research/*.ipynb
!/.gitignore
nohup.out
tmp.prototxt
